# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.eggs/
*.egg-info/
.pytest_cache/
.mypy_cache/
.tox/
.ipynb_checkpoints/
.venv/
venv/
env/
ENV/

# IDEs/Editors
.idea/
.vscode/

# Logs
*.log
